@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* Contact */
}
body input {
  margin: 0;
  padding: 0;
}
body textarea {
  margin: 0;
  padding: 0;
}
body b {
  font-weight: bold;
}
body a {
  text-decoration: none;
}
body #sticky {
  position: sticky;
  height: 3.5em;
  top: 2em;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(38, 38, 71, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 3em;
  margin-left: 3em;
  z-index: 10;
}
body #sticky ul {
  display: flex;
  column-gap: 3em;
  align-items: center;
}
body #sticky ul li {
  list-style-type: none;
  font-weight: bold;
}
body #sticky ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
}
body #sticky ul li a img {
  height: 32px;
  width: 32px;
}
body #sticky ul li a:hover {
  text-decoration: underline;
  color: #cccccc;
}
body #sticky ul:nth-child(1) {
  margin-left: 4em;
}
body #sticky ul:nth-child(2) {
  margin-right: 4em;
}
@media screen and (max-width: 775px) {
  body #sticky ul:nth-child(2) {
    display: none;
  }
}
body #sticky #little-menu {
  display: none;
  color: white;
  margin-right: 2em;
  position: relative;
}
body #sticky #little-menu li #burger-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
}
body #sticky #little-menu li #sub-menu {
  position: absolute;
  background-color: rgba(38, 38, 71, 0.9);
  border-radius: 10px;
  margin-top: 12px;
  right: -95px;
  padding: 0.75em;
  line-height: 1.75em;
  width: 6em;
  display: hidden;
}
body #sticky #little-menu li #sub-menu li:last-child {
  display: flex;
  margin-top: 0.5em;
  justify-content: space-between;
}
body #sticky #little-menu li ul #little-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 50;
}
body #sticky #little-menu li ul #little-menu ul li {
  background-color: rgba(38, 38, 71, 0.9);
}
body #sticky #little-menu li ul #little-menu ul li a {
  display: block;
}
@media screen and (max-width: 775px) {
  body #sticky #little-menu li ul #little-menu {
    display: flex;
  }
}
body #sticky #little-menu:hover #burger-button {
  transition: 0.4s ease-in-out;
}
body #sticky #little-menu:hover #sub-menu {
  display: block;
}
@media screen and (max-width: 775px) {
  body #sticky #little-menu {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 775px) {
  body #sticky {
    top: 1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}
body #particles-js {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
body #particles-js div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
body #particles-js div h1 {
  font-size: 5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 0.7em;
}
body #particles-js div h1 span {
  font-size: 0.5em;
}
@media screen and (max-width: 775px) {
  body #particles-js div h1 {
    font-size: 4em;
  }
}
body #particles-js div a {
  color: white;
  padding: 0.25em 0.5em;
  border: solid 2px rgba(71, 71, 211, 0.9);
  font-size: 2.5em;
  border-radius: 10px;
}
body #particles-js div a:hover {
  background-color: rgba(71, 71, 211, 0.9);
  border-color: white;
}
body #presentation {
  max-width: 100%;
  padding: 5em;
  background-color: #232338;
}
body #presentation h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 775px) {
  body #presentation h2 {
    font-size: 4em;
  }
}
body #presentation #presentation-content {
  display: flex;
  column-gap: 5em;
  align-items: center;
}
body #presentation #presentation-content p {
  margin-top: 1.5em;
  font-size: 1.4em;
  line-height: 1.6em;
  text-align: justify;
  letter-spacing: 0.03em;
}
body #presentation #presentation-content p strong {
  font-weight: bold;
}
@media screen and (max-width: 1843px) {
  body #presentation #presentation-content p {
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  body #presentation #presentation-content p {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 20;
  }
}
body #presentation #presentation-content #profile-picture {
  min-width: 30em;
  height: 30em;
  border-radius: 50%;
  border: solid 2px white;
  overflow: hidden;
  position: relative;
  margin-top: 3em;
}
body #presentation #presentation-content #profile-picture img {
  object-fit: cover;
  transform: scale(0.6);
  position: absolute;
  bottom: -230px;
  left: -400px;
}
@media screen and (max-width: 775px) {
  body #presentation #presentation-content #profile-picture {
    min-width: 20em;
    height: 20em;
  }
  body #presentation #presentation-content #profile-picture img {
    transform: scale(0.4);
    bottom: -320px;
    left: -480px;
  }
}
@media screen and (max-width: 1300px) {
  body #presentation #presentation-content {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 775px) {
  body #presentation #presentation-content {
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 775px) {
  body #presentation {
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
body #projects {
  background: linear-gradient(#232338, black);
  padding: 5em;
}
body #projects h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 775px) {
  body #projects h2 {
    align-self: center;
  }
}
body #projects #projects-list {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 4em;
}
body #projects #projects-list .project {
  padding: 1.5em;
  width: 25em;
  background: linear-gradient(#313146, #232338);
  box-shadow: 0px 5px 25px #313146;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #projects #projects-list .project .project-name {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
  align-items: center;
}
body #projects #projects-list .project .project-name .show-project {
  color: white;
  background-color: rgba(71, 71, 211, 0.9);
  border-radius: 10px;
  font-size: 0.5em;
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}
body #projects #projects-list .project .project-name .show-project:hover {
  opacity: 0.8;
}
@media screen and (max-width: 775px) {
  body #projects #projects-list .project .project-name .show-project {
    align-self: center;
  }
}
body #projects #projects-list .project .quick-description {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
body #projects #projects-list .project .quick-description strong {
  font-weight: bold;
}
@media screen and (max-width: 775px) {
  body #projects #projects-list .project .quick-description {
    text-align: center;
  }
}
body #projects #projects-list .project .technos-used {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.2em;
  margin-top: 0.5em;
  align-self: center;
}
body #projects #projects-list .project .technos-used p {
  background-color: #313146;
  padding: 0.4em;
  border-radius: 10px;
}
body #projects #projects-list .project .technos-used p a {
  color: white;
}
body #projects #projects-list .project .technos-used p a button {
  color: white;
}
body #projects #projects-list .project .technos-used p:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  body #projects #projects-list .project .technos-used {
    margin-top: 0.4em;
  }
}
@media screen and (max-width: 775px) {
  body #projects #projects-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 775px) {
  body #projects #projects-list {
    column-gap: 0%;
    justify-content: center;
  }
}
body #projects #more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
body #projects #more #see-more {
  color: white;
  text-decoration: underline;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}
body #projects #more #see-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 775px) {
  body #projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}
body #contact {
  padding: 4em;
  max-width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #contact label {
  display: none;
}
body #contact #contact__title {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
body #contact .contact__content {
  min-width: 40%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(2, 0.25fr) 1fr;
  grid-template-columns: 1fr;
  gap: 0.5em 0px;
}
body #contact .contact__content input {
  padding-left: 0.15em;
}
body #contact .contact__content .contact__small-inputs {
  border-radius: 6px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0em 0.6em;
}
body #contact .contact__content .contact__small-inputs .inputs__column {
  display: flex;
  flex-direction: column;
}
body #contact .contact__content .contact__small-inputs .inputs__column .contact__small-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 0.4em;
}
body #contact .contact__content .contact__small-inputs .inputs__column #lastFirstname {
  border-radius: 6px 0px 0px 0px;
  -webkit-border-radius: 6px 0px 0px 0px;
  -moz-border-radius: 6px 0px 0px 0px;
  -ms-border-radius: 6px 0px 0px 0px;
  -o-border-radius: 6px 0px 0px 0px;
}
@media screen and (max-width: 775px) {
  body #contact .contact__content .contact__small-inputs .inputs__column #lastFirstname {
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
  }
}
body #contact .contact__content .contact__small-inputs .inputs__column #email {
  border-radius: 0px 6px 0px 0px;
  -webkit-border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  -ms-border-radius: 0px 6px 0px 0px;
  -o-border-radius: 0px 6px 0px 0px;
}
@media screen and (max-width: 775px) {
  body #contact .contact__content .contact__small-inputs .inputs__column #email {
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 775px) {
  body #contact .contact__content .contact__small-inputs {
    grid-template-columns: 1fr;
    gap: 0.5em 0px;
  }
}
body #contact .contact__content .inputs__column {
  padding: 0;
  margin: 0;
  width: 100%;
}
body #contact .contact__content .inputs__column #contact__title-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 0.4em;
}
body #contact .contact__content .inputs__column #contact__comment-input {
  padding-left: 0.4em;
  padding-top: 0.5em;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -ms-border-radius: 0px 0px 6px 6px;
  -o-border-radius: 0px 0px 6px 6px;
}
@media screen and (max-width: 775px) {
  body #contact .contact__content .inputs__column #contact__comment-input {
    height: 75%;
  }
}
@media screen and (max-width: 775px) {
  body #contact .contact__content {
    grid-template-rows: repeat(2, 0.25fr) 0.5fr;
    height: 65%;
  }
}
body #contact button {
  height: 5em;
  background-color: white;
  border: solid 1px blue;
  margin-top: 4em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
  padding: 0 10px;
}
body #contact button:hover {
  background-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  body #contact button {
    margin-top: 0em;
    align-self: center;
  }
}
@media screen and (max-width: 775px) {
  body #contact {
    padding-top: 6em;
    padding-bottom: 2em;
    align-items: inherit;
  }
}
body footer #copyright {
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
}

#projects-body {
  background-color: #232338;
  font-size: 16px;
}
#projects-body #projects {
  background: #232338;
}
#projects-body #projects .project .project-name {
  margin: 0;
}
#projects-body #projects .project .start-text {
  display: contents;
}
#projects-body #projects .project .dots {
  display: contents;
}
#projects-body #projects .project .end-of-description {
  display: none;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
#projects-body #projects .project .show-more {
  align-self: center;
  margin-top: 1em;
  color: white;
  background-color: rgba(71, 71, 211, 0.9);
  border-radius: 10px;
  font-size: 1em;
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  cursor: pointer;
}
#projects-body #projects .project .show-more:hover {
  opacity: 0.8;
}
#projects-body #integration-projects {
  background: linear-gradient(#232338, black);
  padding: 5em;
}
#projects-body #integration-projects h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects h2 {
    align-self: center;
    text-align: center;
  }
}
#projects-body #integration-projects #integrations-list {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 4em;
}
#projects-body #integration-projects #integrations-list .project {
  padding: 1.5em;
  width: 25em;
  background: linear-gradient(#313146, #232338);
  box-shadow: 0px 5px 25px #313146;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#projects-body #integration-projects #integrations-list .project .project-name {
  font-size: 2.5em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons {
  display: flex;
  column-gap: 1em;
  row-gap: 0.4em;
  flex-wrap: wrap;
  justify-content: center;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project {
  color: white;
  background-color: rgba(71, 71, 211, 0.9);
  border-radius: 10px;
  font-size: 0.5em;
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project:hover {
  opacity: 0.8;
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project {
    align-self: center;
  }
}
#projects-body #integration-projects #integrations-list .project img {
  height: 15em;
  width: 10em;
}
#projects-body #integration-projects #integrations-list .project .technos-used {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.2em;
  margin-top: 1.5em;
  align-self: center;
}
#projects-body #integration-projects #integrations-list .project .technos-used p {
  background-color: #313146;
  padding: 0.4em;
  border-radius: 10px;
}
#projects-body #integration-projects #integrations-list .project .technos-used p a {
  color: white;
}
#projects-body #integration-projects #integrations-list .project .technos-used p a button {
  color: white;
}
#projects-body #integration-projects #integrations-list .project .technos-used p:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects #integrations-list .project .technos-used {
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects #integrations-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects #integrations-list {
    column-gap: 0%;
    justify-content: center;
  }
}
@media screen and (max-width: 775px) {
  #projects-body #integration-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
