body {
  font-family: sans-serif;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* Contact */
}
body input {
  margin: 0;
  padding: 0;
}
body textarea {
  margin: 0;
  padding: 0;
}
body #sticky {
  z-index: 100;
  position: sticky;
  height: 50px;
  top: 30px;
  overflow: hidden;
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(38, 38, 71, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
}
body #sticky ul {
  display: flex;
  column-gap: 40px;
}
body #sticky ul li {
  list-style-type: none;
  font-weight: bold;
}
body #sticky ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
}
body #sticky ul li a:hover {
  text-decoration: underline;
  color: #cccccc;
}
body #sticky ul:nth-child(1) {
  margin-left: 30px;
}
body #sticky ul:nth-child(2) {
  margin-right: 80px;
}
@media screen and (max-width: 765px) {
  body #sticky ul:nth-child(2) {
    display: none;
  }
}
body #sticky #little-menu {
  display: none;
  color: white;
  margin-right: 40px;
  position: relative;
}
@media screen and (max-width: 765px) {
  body #sticky #little-menu:hover li ul {
    display: block;
  }
}
@media screen and (max-width: 765px) {
  body #sticky #little-menu li ul #little-menu:hover {
    display: block;
    display: flex;
    position: absolute;
    top: 10;
    left: 50;
  }
}
@media screen and (max-width: 765px) {
  body #sticky #little-menu {
    display: block;
  }
}
body #particles-js {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
body #particles-js div {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
body #particles-js div h1 {
  font-size: 64px;
  font-weight: bold;
}
body #second-page {
  max-width: 100%;
  min-height: 100vh;
  padding: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #232338;
}
body #second-page h2 {
  font-size: 48px;
}
body #second-page p {
  margin-top: 100px;
  font-size: 24px;
  line-height: 36px;
}
body #contact {
  padding: 100px;
  max-width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #contact #contact__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}
body #contact .contact__content {
  min-width: 40%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(2, 0.25fr) 1fr;
  grid-template-columns: 1fr;
  gap: 10px 0px;
}
body #contact .contact__content input {
  padding-left: 3px;
}
body #contact .contact__content .contact__small-inputs {
  border-radius: 6px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 10px;
}
body #contact .contact__content .contact__small-inputs .inputs__column {
  display: flex;
  flex-direction: column;
}
body #contact .contact__content .contact__small-inputs .inputs__column .contact__small-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
}
body #contact .contact__content .contact__small-inputs .inputs__column #lastFirstname {
  border-radius: 6px 0px 0px 0px;
  -webkit-border-radius: 6px 0px 0px 0px;
  -moz-border-radius: 6px 0px 0px 0px;
  -ms-border-radius: 6px 0px 0px 0px;
  -o-border-radius: 6px 0px 0px 0px;
}
body #contact .contact__content .contact__small-inputs .inputs__column #email {
  border-radius: 0px 6px 0px 0px;
  -webkit-border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  -ms-border-radius: 0px 6px 0px 0px;
  -o-border-radius: 0px 6px 0px 0px;
}
body #contact .contact__content .inputs__column {
  padding: 0;
  margin: 0;
  width: 100%;
}
body #contact .contact__content .inputs__column #contact__title-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
}
body #contact .contact__content .inputs__column #contact__comment-input {
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -ms-border-radius: 0px 0px 6px 6px;
  -o-border-radius: 0px 0px 6px 6px;
}
body #contact button {
  height: 60px;
  background-color: white;
  border: solid 1px blue;
  margin-top: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
}
body #contact button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/*# sourceMappingURL=style.css.map */
