@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* Contact */
}
body input {
  margin: 0;
  padding: 0;
}
body textarea {
  margin: 0;
  padding: 0;
}
body b {
  font-weight: bold;
}
body a {
  text-decoration: none;
}
body #sticky {
  position: sticky;
  height: 50px;
  top: 30px;
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(38, 38, 71, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
}
body #sticky ul {
  display: flex;
  column-gap: 40px;
}
body #sticky ul li {
  list-style-type: none;
  font-weight: bold;
}
body #sticky ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
}
body #sticky ul li a:hover {
  text-decoration: underline;
  color: #cccccc;
}
body #sticky ul:nth-child(1) {
  margin-left: 30px;
}
body #sticky ul:nth-child(2) {
  margin-right: 80px;
}
@media screen and (max-width: 765px) {
  body #sticky ul:nth-child(2) {
    display: none;
  }
}
body #sticky #little-menu {
  display: none;
  color: white;
  margin-right: 40px;
  position: relative;
}
body #sticky #little-menu li #sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(38, 38, 71, 0.9);
  border-radius: 10px;
  margin-top: 8px;
  right: -120px;
  padding: 10px;
  line-height: 24px;
  width: 100px;
  z-index: 10;
}
body #sticky #little-menu li ul #little-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 50;
}
body #sticky #little-menu li ul #little-menu ul li {
  background-color: rgba(38, 38, 71, 0.9);
}
body #sticky #little-menu li ul #little-menu ul li a {
  display: block;
}
@media screen and (max-width: 765px) {
  body #sticky #little-menu li ul #little-menu {
    display: flex;
  }
}
body #sticky #little-menu:hover #sub-menu {
  display: block;
}
@media screen and (max-width: 765px) {
  body #sticky #little-menu {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
body #particles-js {
  max-width: 100%;
  height: 100vh;
  position: relative;
  z-index: -10;
}
body #particles-js div {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
body #particles-js div h1 {
  font-size: 64px;
  font-weight: bold;
}
body #second-page {
  max-width: 100%;
  padding: 100px;
  background-color: #232338;
}
body #second-page h2 {
  font-size: 48px;
  font-weight: 900;
}
@media screen and (max-width: 765px) {
  body #second-page h2 {
    font-size: 64px;
  }
}
body #second-page p {
  margin-top: 100px;
  font-size: 32px;
  line-height: 48px;
}
@media screen and (max-width: 765px) {
  body #second-page p {
    font-size: 48px;
    line-height: 64px;
  }
}
@media screen and (max-width: 765px) {
  body #second-page {
    padding: 50px;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
body #projects {
  background: linear-gradient(#232338, black);
  padding: 100px;
}
body #projects h2 {
  font-size: 48px;
  font-weight: 900;
}
@media screen and (max-width: 765px) {
  body #projects h2 {
    align-self: center;
  }
}
body #projects #projects-list {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 100px;
}
body #projects #projects-list .project {
  padding: 15px;
  width: 400px;
  height: 300px;
  background: linear-gradient(#313146, #232338);
  box-shadow: 0px 5px 25px #313146;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #projects #projects-list .project .project-name {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body #projects #projects-list .project .project-name .show-project {
  background-color: rgba(71, 71, 211, 0.9);
  border-radius: 10px;
  padding: 4px;
  font-size: 18px;
  width: 35%;
  border: none;
}
body #projects #projects-list .project .project-name .show-project a {
  color: white;
}
body #projects #projects-list .project .project-name .show-project:hover {
  opacity: 0.8;
}
@media screen and (max-width: 765px) {
  body #projects #projects-list .project .project-name .show-project {
    width: 75%;
    align-self: center;
  }
}
body #projects #projects-list .project .quick-description {
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 765px) {
  body #projects #projects-list .project .quick-description {
    text-align: center;
  }
}
body #projects #projects-list .project .technos-used {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 4px;
}
body #projects #projects-list .project .technos-used p {
  background-color: #313146;
  padding: 6px;
  border-radius: 10px;
}
body #projects #projects-list .project .technos-used p a {
  color: white;
}
body #projects #projects-list .project .technos-used p:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 765px) {
  body #projects #projects-list .project .technos-used {
    margin-top: 15px;
  }
}
@media screen and (max-width: 765px) {
  body #projects #projects-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 765px) {
  body #projects #projects-list {
    column-gap: 0%;
    justify-content: center;
  }
}
@media screen and (max-width: 765px) {
  body #projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
body #contact {
  padding: 100px;
  max-width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #contact #contact__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
body #contact .contact__content {
  min-width: 40%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(2, 0.25fr) 1fr;
  grid-template-columns: 1fr;
  gap: 10px 0px;
}
body #contact .contact__content input {
  padding-left: 3px;
}
body #contact .contact__content .contact__small-inputs {
  border-radius: 6px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 10px;
}
body #contact .contact__content .contact__small-inputs .inputs__column {
  display: flex;
  flex-direction: column;
}
body #contact .contact__content .contact__small-inputs .inputs__column .contact__small-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
}
body #contact .contact__content .contact__small-inputs .inputs__column #lastFirstname {
  border-radius: 6px 0px 0px 0px;
  -webkit-border-radius: 6px 0px 0px 0px;
  -moz-border-radius: 6px 0px 0px 0px;
  -ms-border-radius: 6px 0px 0px 0px;
  -o-border-radius: 6px 0px 0px 0px;
}
@media screen and (max-width: 765px) {
  body #contact .contact__content .contact__small-inputs .inputs__column #lastFirstname {
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
  }
}
body #contact .contact__content .contact__small-inputs .inputs__column #email {
  border-radius: 0px 6px 0px 0px;
  -webkit-border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  -ms-border-radius: 0px 6px 0px 0px;
  -o-border-radius: 0px 6px 0px 0px;
}
@media screen and (max-width: 765px) {
  body #contact .contact__content .contact__small-inputs .inputs__column #email {
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 765px) {
  body #contact .contact__content .contact__small-inputs {
    grid-template-columns: 1fr;
    gap: 10px 0px;
  }
}
body #contact .contact__content .inputs__column {
  padding: 0;
  margin: 0;
  width: 100%;
}
body #contact .contact__content .inputs__column #contact__title-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
}
body #contact .contact__content .inputs__column #contact__comment-input {
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -ms-border-radius: 0px 0px 6px 6px;
  -o-border-radius: 0px 0px 6px 6px;
}
@media screen and (max-width: 765px) {
  body #contact .contact__content .inputs__column #contact__comment-input {
    height: 75%;
  }
}
@media screen and (max-width: 765px) {
  body #contact .contact__content {
    grid-template-rows: repeat(2, 0.25fr) 0.5fr;
    height: 65%;
  }
}
body #contact button {
  height: 60px;
  background-color: white;
  border: solid 1px blue;
  margin-top: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
}
body #contact button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
@media screen and (max-width: 765px) {
  body #contact button {
    margin-top: 0px;
    align-self: center;
  }
}
@media screen and (max-width: 765px) {
  body #contact {
    padding-top: 80px;
    padding-bottom: 20px;
    align-items: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
