$blue : rgb(35, 35, 56);

body{
    font-family: sans-serif;
    // height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

    #sticky{
        z-index: 600000;
        position: sticky;
        top: 15px;
        overflow: hidden;
        margin-top: 30px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(38, 38, 71, 0.9);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-right: 50px;
        margin-left: 50px;
        ul{   
            display: flex;
            column-gap: 40px;
            li{
                list-style-type: none;
                font-weight: bold;

                a{
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                    display: block;

                    &:hover{
                        text-decoration: underline;
                        color: rgb(204, 204, 204);
                    }
                }
            }
        }

        ul:nth-child(1){
            margin-left: 30px;
        }

        ul:nth-child(2){
            margin-right: 80px;
        }
    }

    #particles-js{
        max-width: 100%;
        height: 100vh;
        position: relative;
        
        div{
            position: absolute;
            text-align: center;
            top: 40%;
            width: 100%;

            h1{
                font-size: 64px;
            }
        }
    }

    #second-page{
        max-width: 100%;
        height: 100vh;
        padding: 100px;
        padding-top: 100px;
        padding-bottom: 0px;
        background-color: $blue;

        h2{
            font-size: 48px;
            margin-top: 100px;
        }
        p{
            font-size: 24px;
        }
    }

    /* Contact */

    #contact{
        height: 100vh;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: linear-gradient($blue, black);
        font-family: sans-serif;

        .contact__content{
            display: flex;
            flex-direction: column;
            max-width: 600px;
            text-align: center;
            width: 600px;
            height: 600px;

            .contact__title{
                color: white;
                font-size: 48px;
                font-weight: bold;
                margin-top: 100px;
            }
        
            .contact__inputs{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 60%;
            }
        
            .contact__comment-input {
                border: none;
                color: black;
                font-size: 24px;
                height: 100px;
                padding: 2%;
                border-radius: 2px;
                word-break: break-word;
                height: 200px;

                &::placeholder{
                    color: rgb(109, 109, 109);
                }
            }
        
            .contact__small-input, .contact__title-input {
                border: none;
                color: black;
                font-size: 18px;
                height: 40px;
                margin-bottom: 25px;
                padding: 5px 10px 5px 10px;
                border-radius: 2px;

                &::placeholder{
                    color: rgb(109, 109, 109);
                }
            }
        
            .contact__small-inputs{
                flex-wrap: nowrap;
                justify-content: space-between;
                display: flex;

                &::placeholder{
                    color: rgb(109, 109, 109);
                }

                .contact__small-input{
                    width: 45%;
                }
            
                .contact__comment-input{
                    padding-bottom: 200px;
                }
            }
        }
    }

    .contact__button{
        background-color: $blue;
        border: none;
        border-radius: 5px;
        width: 175px;
        height: 50px;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }

    .contact__button:hover{
        opacity: 0.8;
    }
}