@keyframes animate-title {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-sub {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  /* Contact */
}
body #header-container div a:hover {
  border-color: rgba(205, 89, 143, 0.7215686275);
}
@media screen and (max-width: 890px) {
  body #presentation h2 {
    font-size: 4em;
  }
}
@media screen and (max-width: 1843px) {
  body #presentation #presentation-content p {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content p {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 20;
  }
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content #profile-picture {
    min-width: 20em;
    height: 20em;
  }
  body #presentation #presentation-content #profile-picture img {
    transform: scale(0.4);
    bottom: -320px;
    left: -480px;
  }
}
@media screen and (max-width: 340px) {
  body #presentation #presentation-content #profile-picture {
    min-width: 15em;
    height: 15em;
  }
  body #presentation #presentation-content #profile-picture img {
    transform: scale(0.3);
    bottom: -350px;
    left: -515px;
  }
}
@media screen and (max-width: 1300px) {
  body #presentation #presentation-content {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content {
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 890px) {
  body #presentation {
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 890px) {
  body #projects h2 {
    align-self: center;
  }
}
body #projects #projects-list .project:hover {
  box-shadow: 0px 0px 25px 5px rgba(205, 89, 143, 0.4117647059);
}
body #projects #projects-list .project .project-name .show-project:hover {
  background-color: transparent;
  border-color: #5f5fde;
  color: #5f5fde;
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .project-name .show-project {
    align-self: center;
  }
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .quick-description {
    text-align: center;
  }
}
body #projects #projects-list .project .technos-used p:hover {
  border-color: #5f5fde;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .technos-used {
    margin-top: 0.4em;
  }
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 890px) {
  body #projects #projects-list {
    column-gap: 0%;
    justify-content: center;
  }
}
body #projects #more #see-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 890px) {
  body #projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs #lastFirstname {
    border-radius: 8px 8px 0px 0px;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs #email {
    border-radius: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs {
    flex-direction: column;
    row-gap: 28px;
  }
  body #contact .contact__content .contact__small-inputs .contact__small-input {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content #contact__title-input {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content #contact__comment-input {
    width: 100%;
  }
}
body #contact #submit:hover {
  color: rgba(205, 89, 143, 0.7215686275);
  border-color: rgba(205, 89, 143, 0.7215686275);
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  body #contact #submit {
    align-self: center;
  }
}
@media screen and (max-width: 890px) {
  body #contact {
    padding-top: 6em;
    padding-bottom: 2em;
  }
}

/*# sourceMappingURL=index.css.map */
