$blue: rgb(35, 35, 56);
$light-blue: #5f5fde;
$rose: #cd598fb8;
$transparent-rose: #cd598f69;

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;

  #projects {
    padding: 5em;

    h2 {
      margin-top: 1em;
      font-weight: 900;
      font-size: 3em;

      @media screen and (max-width: 890px) {
        text-align: center;
      }
    }

    #projects-list {
      margin-top: 5em;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10%;
      row-gap: 4em;

      .project {
        padding: 1.5em;
        width: 25em;
        background: $blue;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: solid 2px $rose;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 25px 5px $transparent-rose;
        }

        .project-name {
          font-size: 2.5em;
          font-weight: 400;
          margin-bottom: 0.5em;
          display: flex;
          flex-direction: column;
          row-gap: 0.5em;
          text-align: center;
          align-items: center;

          .show-project {
            color: white;
            background-color: $light-blue;
            border-radius: 10px;
            font-size: 0.5em;
            width: fit-content;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em;
            border: solid 1px transparent;
            transition: all 0.1s linear;

            &:hover {
              background-color: transparent;
              border-color: $light-blue;
              color: $light-blue;
            }

            @media screen and (max-width: 890px) {
              align-self: center;
            }
          }
        }

        .quick-description {
          font-size: 1.2em;
          line-height: 1.5em;
          text-align: justify;

          strong {
            font-weight: bold;
            color: $rose;
          }

          @media screen and (max-width: 890px) {
            text-align: center;
          }
        }

        .technos-used {
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.2em;
          row-gap: 0.2em;
          margin-top: 0.5em;
          align-self: center;

          p {
            border: solid 1px $rose;
            padding: 0.4em;
            border-radius: 10px;
            transition: all 0.1s linear;

            a {
              color: white;

              button {
                color: white;
              }
            }

            &:hover {
              border-color: $light-blue;
              cursor: pointer;
            }
          }

          @media screen and (max-width: 890px) {
            margin-top: 0.4em;
          }
        }

        @media screen and (max-width: 890px) {
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (max-width: 890px) {
        column-gap: 0%;
        justify-content: center;
      }
    }

    #more {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3em;

      #see-more {
        color: white;
        text-decoration: underline;
        font-size: 1.25em;
        font-weight: 700;
        text-align: center;
        transition: all 0.1s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    @media screen and (max-width: 890px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2em;
    }
  }

  #integration-projects {
    padding: 5em;

    h2 {
      font-size: 3em;
      font-weight: 900;

      @media screen and (max-width: 890px) {
        text-align: center;
      }
    }

    #integrations-list {
      margin-top: 5em;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10%;
      row-gap: 4em;

      .project {
        padding: 1.5em;
        width: 25em;
        background: $blue;
        border: solid 2px $rose;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 25px 5px $transparent-rose;
        }

        .project-name {
          font-size: 2.5em;
          font-weight: 400;
          display: flex;
          flex-direction: column;
          row-gap: 0.5em;
          text-align: center;
          align-items: center;
          margin-top: 0;
          margin-bottom: 0.5em;

          .project-buttons {
            display: flex;
            column-gap: 1em;
            row-gap: 0.4em;
            flex-wrap: wrap;
            justify-content: center;

            .show-project {
              color: white;
              background-color: $light-blue;
              border-radius: 10px;
              font-size: 0.5em;
              width: fit-content;
              border: solid 1px transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.3em 0.5em;
              transition: all 0.1s linear;

              &:hover {
                background-color: transparent;
                border-color: $light-blue;
                color: $light-blue;
              }

              @media screen and (max-width: 890px) {
                align-self: center;
              }
            }
          }
        }

        img {
          height: 15em;
          width: 10em;
        }

        .technos-used {
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.2em;
          row-gap: 0.2em;
          margin-top: 1.5em;
          align-self: center;

          p {
            background-color: rgb(49, 49, 70);
            border: solid 1px $rose;
            padding: 0.4em;
            border-radius: 10px;
            transition: all 0.1s linear;

            a {
              color: white;

              button {
                color: white;
              }
            }

            &:hover {
              border-color: $light-blue;
              cursor: pointer;
            }
          }

          @media screen and (max-width: 890px) {
            margin-top: 1.5em;
          }
        }

        @media screen and (max-width: 890px) {
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (max-width: 890px) {
        column-gap: 0%;
        justify-content: center;
      }
    }

    @media screen and (max-width: 890px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2em;
    }
  }

  // Other projects

  #other-projects {
    padding: 5em;

    h2 {
      font-size: 3em;
      font-weight: 900;

      @media screen and (max-width: 890px) {
        align-self: center;
        text-align: center;
      }
    }

    #other-projects-list {
      margin-top: 5em;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10%;
      row-gap: 4em;

      .project {
        padding: 1.5em;
        width: 25em;
        background: $blue;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 25px 5px $transparent-rose;
        }

        .project-name {
          font-size: 2.5em;
          font-weight: 400;
          display: flex;
          flex-direction: column;
          row-gap: 0.5em;
          text-align: center;
          align-items: center;
          margin-top: 0;
          margin-bottom: 0.5em;

          .project-buttons {
            display: flex;
            column-gap: 1em;
            row-gap: 0.4em;
            flex-wrap: wrap;
            justify-content: center;

            .show-project {
              color: white;
              background-color: $light-blue;
              border-radius: 10px;
              font-size: 0.5em;
              width: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.3em 0.5em;
              border: solid 1px transparent;
              transition: all 0.1s linear;

              &:hover {
                background-color: transparent;
                border-color: $light-blue;
                color: $light-blue;
              }

              @media screen and (max-width: 890px) {
                align-self: center;
              }
            }
          }
        }

        .quick-description {
          font-size: 1.2em;
          line-height: 1.5em;
          text-align: justify;

          strong {
            font-weight: bold;
            color: $rose;
          }

          @media screen and (max-width: 890px) {
            text-align: center;
          }
        }

        .start-text {
          display: contents;
        }

        .dots {
          display: contents;
        }

        .end-of-description {
          display: none;
          font-size: 1.2em;
          line-height: 1.5em;
          text-align: justify;
        }

        .show-more {
          align-self: center;
          margin-top: 1em;
          color: white;
          background-color: rgba(71, 71, 211, 0.9);
          border-radius: 10px;
          font-size: 1em;
          width: fit-content;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.3em 0.5em;
          cursor: pointer;
          transition: all 0.1s linear;

          &:hover {
            opacity: 0.8;
          }
        }

        @media screen and (max-width: 890px) {
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (max-width: 890px) {
        column-gap: 0%;
        justify-content: center;
      }
    }

    @media screen and (max-width: 890px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2em;
    }
  }

  footer {
    #copyright {
      display: flex;
      justify-content: center;
      padding: 1.5em 0;
      margin-top: 64px;
    }
  }
}
