@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
html *::selection {
  background-color: rgba(70, 178, 211, 0.384);
}

body {
  font-family: 'Leto', sans-serif;
  width: 100%;
  max-width: 100vw;
  /* overflow: hidden; */
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;
}
body h1 {
  font-size: 4em;
  color: white;
  align-self: center;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
}
body input {
  margin: 0;
  padding: 0;
}
body textarea {
  margin: 0;
  padding: 0;
}
body b {
  font-weight: bold;
}
body a {
  text-decoration: none;
}

#sticky {
  position: fixed;
  height: 3.5em;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(32, 35, 51, 0.712);
  z-index: 10000;
  top: 0;
  animation: 1s animate-header 1 0.4s cubic-bezier(0.38, 0.66, 0.66, 0.87)
    forwards;
  transform: translateY(-5em);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #sticky {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
@supports (width: -webkit-fill-available) {
  #sticky {
    width: -webkit-fill-available;
  }
}
@keyframes animate-header {
  0% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}
#sticky ul {
  display: flex;
  column-gap: 3em;
  align-items: center;
}
#sticky ul li {
  list-style-type: none;
  font-weight: bold;
}
#sticky ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.1s linear;
  position: relative;
}
#sticky ul li a i {
  font-size: 1em;
}
#sticky ul li a:hover {
  color: rgb(204, 204, 204);
}
#sticky ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: rgb(204, 204, 204);
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: rotate(10deg);
  transition: all 0.1s linear;
}
#sticky ul li:nth-child(-n + 3) a:hover::after {
  width: 100%;
  transform: rotate(0deg);
}
#sticky ul:nth-child(1) {
  margin-left: 4em;
}
@media screen and (max-width: 890px) {
  #sticky ul:nth-child(1) {
    margin-left: 2em;
  }
}
#sticky ul:nth-child(2) {
  margin-right: 4em;
}
@media screen and (max-width: 890px) {
  #sticky ul:nth-child(2) {
    display: none;
  }
}
#sticky #little-menu {
  display: none;
  color: white;
  margin-right: 2em;
  position: relative;
}
#sticky #little-menu li #burger-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
}
#sub-menu-container {
  position: absolute;
  right: -32px;
  top: 100%;
  width: 140px;
  clip-path: inset(0 0 -150px);
}
#sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  background-color: rgba(32, 35, 51, 0.712);
  border-radius: 0 0 10px 10px;
  height: auto;
  margin: 0;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0, 0.93, 0.71, 1.01);
  transform: translateY(-100%);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #sub-menu {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
#sub-menu .social-media {
  display: flex;
  margin-top: 0.5em;
  column-gap: 2em;
  justify-content: space-around;
}
#sticky #little-menu li ul #little-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 50;
}
#sticky #little-menu li ul #little-menu #sub-menu li a {
  display: block;
}
@media screen and (max-width: 890px) {
  #sticky #little-menu li ul #little-menu {
    display: flex;
  }
}
#sticky #little-menu:hover #burger-button {
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 890px) {
  #sticky #little-menu {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
#sticky #little-menu #sub-menu li {
  min-height: 0px;
}
/*# sourceMappingURL=style.css.map */
