@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
html *::selection {
  background-color: rgba(70, 178, 211, 0.384);
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;
  /* Contact */
}
body input {
  margin: 0;
  padding: 0;
}
body textarea {
  margin: 0;
  padding: 0;
}
body b {
  font-weight: bold;
}
body a {
  text-decoration: none;
}
body #sticky {
  position: sticky;
  height: 3.5em;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 10000;
  top: 0em;
  backdrop-filter: blur(6px);
}
body #sticky ul {
  display: flex;
  column-gap: 3em;
  align-items: center;
}
body #sticky ul li {
  list-style-type: none;
  font-weight: bold;
}
body #sticky ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.1s linear;
}
body #sticky ul li a i {
  font-size: 1em;
}
body #sticky ul li a:hover {
  color: rgb(204, 204, 204);
}
body #sticky ul li:nth-child(-n+3) a:hover {
  text-decoration: underline;
}
body #sticky ul:nth-child(1) {
  margin-left: 4em;
}
@media screen and (max-width: 890px) {
  body #sticky ul:nth-child(1) {
    margin-left: 2em;
  }
}
body #sticky ul:nth-child(2) {
  margin-right: 4em;
}
@media screen and (max-width: 890px) {
  body #sticky ul:nth-child(2) {
    display: none;
  }
}
body #sticky #little-menu {
  display: none;
  color: white;
  margin-right: 2em;
  position: relative;
}
body #sticky #little-menu li #burger-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
}
body #sticky #little-menu li #sub-menu {
  position: absolute;
  border-radius: 10px;
  margin-top: 12px;
  right: -95px;
  padding: 0.75em;
  display: none;
  line-height: 1.75em;
}
body #sticky #little-menu li #sub-menu .social-media {
  display: flex;
  margin-top: 0.5em;
  column-gap: 2em;
  justify-content: space-around;
}
body #sticky #little-menu li ul #little-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 50;
}
body #sticky #little-menu li ul #little-menu #sub-menu li a {
  display: block;
}
@media screen and (max-width: 890px) {
  body #sticky #little-menu li ul #little-menu {
    display: flex;
  }
}
body #sticky #little-menu:hover #burger-button {
  transition: 0.4s ease-in-out;
}
body #sticky #little-menu:hover #sub-menu {
  display: block;
}
@media screen and (max-width: 890px) {
  body #sticky #little-menu {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
body #particles-js {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #particles-js div {
  text-align: center;
}
body #particles-js div h1 {
  font-size: 5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 0.7em;
}
body #particles-js div h1 span {
  font-size: 0.5em;
}
@media screen and (max-width: 890px) {
  body #particles-js div h1 {
    font-size: 4em;
  }
}
body #particles-js div a {
  color: white;
  padding: 0.25em 0.5em;
  border: solid 2px rgba(71, 71, 211, 0.9);
  font-size: 2.5em;
  border-radius: 10px;
  transition: all 0.1s linear;
}
body #particles-js div a:hover {
  border-color: rgba(205, 89, 143, 0.7215686275);
}
body #presentation {
  max-width: 100%;
  padding: 5em;
}
body #presentation h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 890px) {
  body #presentation h2 {
    font-size: 4em;
  }
}
body #presentation #presentation-content {
  display: flex;
  column-gap: 5em;
  align-items: center;
}
body #presentation #presentation-content p {
  margin-top: 1.5em;
  font-size: 1.4em;
  line-height: 1.6em;
  text-align: justify;
  letter-spacing: 0.03em;
}
body #presentation #presentation-content p strong {
  font-weight: bold;
  color: rgba(205, 89, 143, 0.7215686275);
}
@media screen and (max-width: 1843px) {
  body #presentation #presentation-content p {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content p {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 20;
  }
}
body #presentation #presentation-content #profile-picture {
  min-width: 30em;
  height: 30em;
  border-radius: 50%;
  border: solid 2px rgba(205, 89, 143, 0.7215686275);
  overflow: hidden;
  position: relative;
  margin-top: 3em;
}
body #presentation #presentation-content #profile-picture img {
  object-fit: cover;
  transform: scale(0.6);
  position: absolute;
  bottom: -230px;
  left: -400px;
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content #profile-picture {
    min-width: 20em;
    height: 20em;
  }
  body #presentation #presentation-content #profile-picture img {
    transform: scale(0.4);
    bottom: -320px;
    left: -480px;
  }
}
@media screen and (max-width: 340px) {
  body #presentation #presentation-content #profile-picture {
    min-width: 15em;
    height: 15em;
  }
  body #presentation #presentation-content #profile-picture img {
    transform: scale(0.3);
    bottom: -350px;
    left: -515px;
  }
}
@media screen and (max-width: 1300px) {
  body #presentation #presentation-content {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 890px) {
  body #presentation #presentation-content {
    justify-content: center;
    row-gap: 1em;
  }
}
@media screen and (max-width: 890px) {
  body #presentation {
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
body #projects {
  padding: 5em;
}
body #projects h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 890px) {
  body #projects h2 {
    align-self: center;
  }
}
body #projects #projects-list {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 4em;
}
body #projects #projects-list .project {
  padding: 1.5em;
  width: 25em;
  background: rgb(35, 35, 56);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px rgba(205, 89, 143, 0.7215686275);
  transition: all 0.2s ease-in-out;
}
body #projects #projects-list .project:hover {
  box-shadow: 0px 0px 25px 5px rgba(205, 89, 143, 0.4117647059);
}
body #projects #projects-list .project .project-name {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
  align-items: center;
}
body #projects #projects-list .project .project-name .show-project {
  color: white;
  background-color: #5f5fde;
  border-radius: 10px;
  font-size: 0.5em;
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  border: solid 1px transparent;
  transition: all 0.1s linear;
}
body #projects #projects-list .project .project-name .show-project:hover {
  background-color: transparent;
  border-color: white;
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .project-name .show-project {
    align-self: center;
  }
}
body #projects #projects-list .project .quick-description {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
body #projects #projects-list .project .quick-description strong {
  font-weight: bold;
  color: rgba(205, 89, 143, 0.7215686275);
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .quick-description {
    text-align: center;
  }
}
body #projects #projects-list .project .technos-used {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.2em;
  margin-top: 0.5em;
  align-self: center;
}
body #projects #projects-list .project .technos-used p {
  border: solid 1px rgba(205, 89, 143, 0.7215686275);
  padding: 0.4em;
  border-radius: 10px;
  transition: all 0.1s linear;
}
body #projects #projects-list .project .technos-used p a {
  color: white;
}
body #projects #projects-list .project .technos-used p a button {
  color: white;
}
body #projects #projects-list .project .technos-used p:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project .technos-used {
    margin-top: 0.4em;
  }
}
@media screen and (max-width: 890px) {
  body #projects #projects-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 890px) {
  body #projects #projects-list {
    column-gap: 0%;
    justify-content: center;
  }
}
body #projects #more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
body #projects #more #see-more {
  color: white;
  text-decoration: underline;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  transition: all 0.1s linear;
}
body #projects #more #see-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 890px) {
  body #projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}
body #contact {
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #contact label {
  margin-bottom: 12px;
  font-size: 18px;
}
body #contact #contact__title {
  margin-bottom: 3em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
body #contact .little-input-column,
body #contact .input-column {
  display: flex;
  flex-direction: column;
}
body #contact .input-column:last-child {
  height: 250px;
}
body #contact .contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 28px;
  width: 800px;
  max-width: 80vw;
  height: 100%;
}
body #contact .contact__content input {
  padding: 12px;
  background-color: rgb(35, 35, 56);
  border: solid 1px rgba(205, 89, 143, 0.7215686275);
  color: white;
  height: 38px;
  font-size: 18px;
}
body #contact .contact__content .contact__small-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body #contact .contact__content .contact__small-inputs .contact__small-input {
  width: 360px;
}
body #contact .contact__content .contact__small-inputs #lastFirstname {
  border-radius: 8px 0px 0px 0px;
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs #lastFirstname {
    border-radius: 8px 8px 0px 0px;
  }
}
body #contact .contact__content .contact__small-inputs #email {
  border-radius: 0px 8px 0px 0px;
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs #email {
    border-radius: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content .contact__small-inputs {
    flex-direction: column;
    row-gap: 28px;
  }
  body #contact .contact__content .contact__small-inputs .contact__small-input {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  body #contact .contact__content #contact__title-input {
    width: 100%;
  }
}
body #contact .contact__content #contact__comment-input {
  padding: 12px;
  background-color: rgb(35, 35, 56);
  border: solid 1px rgba(205, 89, 143, 0.7215686275);
  display: flex;
  border-radius: 0px 0px 8px 8px;
  color: white;
  flex: 1;
  font-size: 18px;
}
@media screen and (max-width: 890px) {
  body #contact .contact__content #contact__comment-input {
    width: 100%;
  }
}
body #contact #submit {
  background-color: rgba(205, 89, 143, 0.7215686275);
  color: white;
  border: solid 1px transparent;
  margin-top: 48px;
  border-radius: 8px;
  font-weight: bold;
  padding: 18px 24px;
  transition: all 0.1s linear;
}
body #contact #submit:hover {
  color: rgba(205, 89, 143, 0.7215686275);
  border-color: rgba(205, 89, 143, 0.7215686275);
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  body #contact #submit {
    align-self: center;
  }
}
@media screen and (max-width: 890px) {
  body #contact {
    padding-top: 6em;
    padding-bottom: 2em;
  }
}
body footer #copyright {
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
  margin-top: 64px;
}

#projects-body {
  font-size: 16px;
}
#projects-body h1 {
  font-size: 4em;
  color: white;
  align-self: center;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
}
#projects-body #projects .project .project-name {
  margin: 0;
}
#projects-body #projects h2 {
  margin-top: 1em;
  font-weight: 900;
}
@media screen and (max-width: 890px) {
  #projects-body #projects h2 {
    text-align: center;
  }
}
#projects-body #integration-projects {
  padding: 5em;
}
#projects-body #integration-projects h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects h2 {
    text-align: center;
  }
}
#projects-body #integration-projects #integrations-list {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 4em;
}
#projects-body #integration-projects #integrations-list .project {
  padding: 1.5em;
  width: 25em;
  background: rgb(35, 35, 56);
  border: solid 2px rgba(205, 89, 143, 0.7215686275);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
#projects-body #integration-projects #integrations-list .project:hover {
  box-shadow: 0px 0px 25px 5px rgba(205, 89, 143, 0.4117647059);
}
#projects-body #integration-projects #integrations-list .project .project-name {
  font-size: 2.5em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons {
  display: flex;
  column-gap: 1em;
  row-gap: 0.4em;
  flex-wrap: wrap;
  justify-content: center;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project {
  color: white;
  background-color: #5f5fde;
  border-radius: 10px;
  font-size: 0.5em;
  width: fit-content;
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  transition: all 0.1s linear;
}
#projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project:hover {
  background-color: transparent;
  border-color: white;
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects #integrations-list .project .project-name .project-buttons .show-project {
    align-self: center;
  }
}
#projects-body #integration-projects #integrations-list .project img {
  height: 15em;
  width: 10em;
}
#projects-body #integration-projects #integrations-list .project .technos-used {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.2em;
  margin-top: 1.5em;
  align-self: center;
}
#projects-body #integration-projects #integrations-list .project .technos-used p {
  background-color: rgb(49, 49, 70);
  border: solid 1px rgba(205, 89, 143, 0.7215686275);
  padding: 0.4em;
  border-radius: 10px;
  transition: all 0.1s linear;
}
#projects-body #integration-projects #integrations-list .project .technos-used p a {
  color: white;
}
#projects-body #integration-projects #integrations-list .project .technos-used p a button {
  color: white;
}
#projects-body #integration-projects #integrations-list .project .technos-used p:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects #integrations-list .project .technos-used {
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects #integrations-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects #integrations-list {
    column-gap: 0%;
    justify-content: center;
  }
}
@media screen and (max-width: 890px) {
  #projects-body #integration-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}
#projects-body #other-projects {
  padding: 5em;
}
#projects-body #other-projects h2 {
  font-size: 3em;
  font-weight: 900;
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects h2 {
    align-self: center;
    text-align: center;
  }
}
#projects-body #other-projects #other-projects-list {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 4em;
}
#projects-body #other-projects #other-projects-list .project {
  padding: 1.5em;
  width: 25em;
  background: rgb(35, 35, 56);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
#projects-body #other-projects #other-projects-list .project:hover {
  box-shadow: 0px 0px 25px 5px rgba(205, 89, 143, 0.4117647059);
}
#projects-body #other-projects #other-projects-list .project .project-name {
  font-size: 2.5em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#projects-body #other-projects #other-projects-list .project .project-name .project-buttons {
  display: flex;
  column-gap: 1em;
  row-gap: 0.4em;
  flex-wrap: wrap;
  justify-content: center;
}
#projects-body #other-projects #other-projects-list .project .project-name .project-buttons .show-project {
  color: white;
  background-color: #5f5fde;
  border-radius: 10px;
  font-size: 0.5em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  border: solid 1px transparent;
  transition: all 0.1s linear;
}
#projects-body #other-projects #other-projects-list .project .project-name .project-buttons .show-project:hover {
  background-color: transparent;
  border-color: white;
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects #other-projects-list .project .project-name .project-buttons .show-project {
    align-self: center;
  }
}
#projects-body #other-projects #other-projects-list .project .quick-description {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
#projects-body #other-projects #other-projects-list .project .quick-description strong {
  font-weight: bold;
  color: rgba(205, 89, 143, 0.7215686275);
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects #other-projects-list .project .quick-description {
    text-align: center;
  }
}
#projects-body #other-projects #other-projects-list .project .start-text {
  display: contents;
}
#projects-body #other-projects #other-projects-list .project .dots {
  display: contents;
}
#projects-body #other-projects #other-projects-list .project .end-of-description {
  display: none;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
#projects-body #other-projects #other-projects-list .project .show-more {
  align-self: center;
  margin-top: 1em;
  color: white;
  background-color: rgba(71, 71, 211, 0.9);
  border-radius: 10px;
  font-size: 1em;
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  cursor: pointer;
  transition: all 0.1s linear;
}
#projects-body #other-projects #other-projects-list .project .show-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects #other-projects-list .project {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects #other-projects-list {
    column-gap: 0%;
    justify-content: center;
  }
}
@media screen and (max-width: 890px) {
  #projects-body #other-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }
}

#skills-body {
  font-size: 16px;
}
#skills-body #skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  flex-direction: column;
  row-gap: 5em;
}
#skills-body #skills h1 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
#skills-body #skills #grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8em;
}
#skills-body #skills #grid-skills .skill-item {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#skills-body #skills #grid-skills .skill-item:hover {
  transform: scale(1.5);
}
#skills-body #skills #grid-skills .skill-item:hover :last-child {
  filter: brightness(0.4);
}
#skills-body #skills #grid-skills .skill-item:hover .skill-description {
  opacity: 1;
}
#skills-body #skills #grid-skills .skill-item .skill-description {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  text-align: justify;
  width: 100%;
  line-height: 20px;
}
@media screen and (max-width: 890px) {
  #skills-body #skills #grid-skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 8em;
  }
}
@media screen and (max-width: 425px) {
  #skills-body #skills #grid-skills {
    grid-template-columns: repeat(1, 1fr);
    gap: 5em;
  }
}
#skills-body #skills img {
  height: 128px;
  width: 128px;
}
#skills-body #skills i {
  font-size: 128px;
}

/*# sourceMappingURL=style.css.map */
